@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.top_site {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 1px 0px 0px #dbdbdb;
}
  
.top_site > div {
    display: flex;
    align-items: center;
}
  
.top_site span {
    padding: 10px;
}
  
.top_site a span{
    border-radius: 5px;
    background-color: #2a7afc;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    margin-right: 10px;
}

.top_site svg {
    padding: 10px;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    fill: #333;
    border-radius: 100px;
}

.top_site svg:hover {
    background-color: #c5c5c5;
}
  
.top_site a {
    text-decoration: none;
    color: #333;
}
  
.top_site a:hover {
    text-decoration: underline;
}

/* --------------  pesquisa  ---------------- */


.top_site input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 100px;
    font-size: 14px;
    outline: none;
    color: #3b3b3b;
    width: 450px;
    box-shadow: 1px 1px 5px 0px #e9e9e9;

}
  
.top_site input:focus{
    /* border-color: #4d90fe; */
    box-shadow: 1px 1px 5px 0px #b8b8b8;
}

.top_site img{
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
}

.seach{
    flex-grow: 1; 
    display: flex;
    justify-content: flex-start;
}

.seach svg{
    padding: 0px;
    margin-left: 6px;
    width: 33px;
    height: 24px;
    fill: #5a5a5a;
    border-radius: 0px;
    transition: 1s;
}
.seach svg:hover{
    padding: 0px;
    margin-left: 6px;
    width: 33px;
    height: 26px;
    background-color: rgba(245, 222, 179, 0);
}

/* -------- Sites ---------- */

#container{
    margin: auto;
    margin-top: 20px;
    max-width: 1480px;
}

.container_site{
    margin-left: 35px;
    max-width: 600px;
}

.url{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 1px;
    color: #000000;
}

.full_url{
    color: #686868;
}

.container_site h2{
    margin-top: 10px;
    margin-bottom: 7px;
    color: #2a7afc;
}

.container_site a{
    text-decoration: none;
}

.description{
    color: #4a4a4a;
}